<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity.EF6">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<connectionStrings>
  <add name="bmfsEntities" connectionString="metadata=res://*/BMFSDataBase.csdl|res://*/BMFSDataBase.ssdl|res://*/BMFSDataBase.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=DESKTOP-0C34PAN;user id=vivekr;persistsecurityinfo=True;password=MySql2018;database=bmfs&quot;"
    providerName="System.Data.EntityClient" />
  <add name="BMFS.Properties.Settings.bmfsConnectionString" connectionString="server=DESKTOP-UVCHU2H;user id=vivekr;persistsecurityinfo=True;database=bmfs"
    providerName="MySql.Data.MySqlClient" />
  <add name="BMFS.Properties.Settings.bmfsConnectionString1" connectionString="server=DESKTOP-UVCHU2H;user id=vivekr;password=MySql2018;persistsecurityinfo=True;database=bmfs"
    providerName="MySql.Data.MySqlClient" />
  <add name="BMFS.Properties.Settings.bmfsConnectionString2" connectionString="server=DESKTOP-0C34PAN;user id=vivekr;password=MySql2018;database=bmfs"
    providerName="MySql.Data.MySqlClient" />
</connectionStrings></configuration>